@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

section {
    width: 100%;
    height: 125vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 550px;
    height: 719px;
    background: #1F2937;
    box-sizing: border-box;
}

header {
    height: 190px;
    background: #3A69D2;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    padding-top: 60px;
    box-sizing: border-box;
}

header h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 10px;
}

header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

main {
    padding: 40px 40px 60px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.menu button {
    width: 145px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background: #D1D4F4;
    padding: 9px 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4A4E74;
    cursor: pointer;
}

.task .header {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #D5D4D8;
    margin-bottom: 20px;
}

.task .list {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 25px;
}

.task .list .left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.task .list .left h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F5F5F5;
}

.task .list .left button {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-size: 8px;
    line-height: 20px;
    color: #D5D4D8;
}

.task .list p {
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color: #D5D4D8;
}

.task .list p span {
    color: #918E9B;
}

.line {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #C3C6DB;
    background: #C3C6DB;
}

.total {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 32px;
    color: #D5D4D8;
}

.total .right {
    text-align: right;
}

.total .right h1 {
    margin: 10px 0 50px;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    color: #F5F5F5;
}

.send-btn {
    width: 100%;
    height: 44px;
    padding: 9px 17px 9px 15px;
    background: #3A69D2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.send-btn img {
    margin-right: 15px;
}